doctype html
html 
  head 
    title React Dance Academy
    block scripts 
    block style 
  body
    nav#navbar
        ul 
            div#logo
                img(src="../static/logo.jpg")
                | HDA
            div#nav-item    
            li #[a(href= "/") Home ]  
            li #[a(href= "/") About]  
            li #[a(href= "/contact") Contact]   
            li #[a(href= "/") Service]  

    block content 
    footer#intro 
      | Copyright &copy 2022 ReactDanceAcademy.com | All Rights reserved

  
    
